.status{
  width: 250px;
  height: 150px;
  background: rgb(0, 255, 174);
  border-radius: 1rem;
  text-align: center;
  position: initial;
  color: white;
  border-color: transparent;
  cursor: pointer;
  font-size:x-large;
  box-shadow: darkgreen;


  

}
.safe{
}
.button{
  background-color: transparent;
  color: transparent;
  border-color: transparent;
}
.status:hover{
  background: rgb(2, 239, 164);
  color: white;


}